.tChart{
    margin:auto;
    text-align:center;
}

.axis {
    font: 20px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

h1 {
  font-size: 1.9vw;
}

